.wiki_link {
    cursor: pointer;
    text-decoration: underline;
}

body, html {
    padding: 15px;
}

#editor {
    border: 1px solid #DDD;
}


.textcomplete-dropdown {
  border: 1px solid #ddd;
  //so it's easier to see for now
  background-color: black;
  list-style: none;
  padding: 0;
  margin: 0;
}
.textcomplete-dropdown li {
  margin: 0;
}
.textcomplete-footer,
.textcomplete-item {
  border-top: 1px solid #ddd;
}
.textcomplete-item {
  padding: 2px 5px;
  cursor: pointer;
}
.textcomplete-item:hover,
.textcomplete-item.active {
  background-color: rgb(110, 183, 219);
}